<div class="text-center my-3">
  <h1>Bonjour <%=@user.first_name%></h1>
</div>

<div class="my-5 d-flex justify-content-center">
  
<div class="card text-center" style="width: 18rem;">
    
  <div class="card-body">
  <h5 class="card-title"><%= @user.first_name%> <%=@user.last_name %></h5>
    <p class="card-text"><%= @user.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Mail : <%= @user.email %></li>
  </ul>
  <div class="card-body">
    <%= button_to "Editer le Profil", edit_user_registration_path, class:"btn btn-primary", method: :get %>
  </div>

  </div>
</div>

